@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 500 700;
  src: url('https://cdn.jsdelivr.net/npm/dap-design-system/dist/assets/fonts/InterVariable.woff2');
  font-display: swap;
  font-feature-settings:
    'liga' 1,
    'calt' 1,
    'ss02' 1;
  font-variation-settings: 'slnt' 0;
  font-optical-sizing: auto;
}

body {
  padding: 1rem;
  color: var(--dds-text-neutral-base);
}

p {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1rem;
  gap: 1rem;
}

section {
  margin-bottom: 2rem;
}

h1 {
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
}

h2 {
  margin-bottom: 0.25rem;
}

body.high-contrast-theme {
  background: var(--dds-background-neutral-subtle);
}

body.high-contrast-theme svg,
body.high-contrast-theme .dap-ds-icon::part(icon),
body.high-contrast-theme .dap-ds-icon {
  fill: var(--dds-high-contrast-interactive);
}
