@font-face {
  font-family: 'Inter';
  src: url('https://cdn.jsdelivr.net/npm/dap-design-system/dist/assets/fonts/InterVariable.woff2') format('woff2');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
